<h3>eduFramework</h3>
<p>
  This is test application made as example.
</p>
<p> 
  You can modify this file by editting app/views/test/test.html. Controller which returned this view is located under app/controllers/test/test_controller.js.
</p>
<p>
  Oh, I almost forgot. Here is message for you:
  <em class="message">{{msg}}</em>
</p>
<p>
  You can change it by editting view model for this view. It's located under app/view_models/test/test.js. But you can also override it in controller just like this message: 
  <em class="message">{{msgFromController}}</em>
</p>
<p>
  <a href="http://code.google.com/p/eduframework">eduFramework homepage</a>
</p>
